# =============================================================================
# Project Specific Ignores
# =============================================================================
data/
!data/raw/
outputs/
pretrained_models/
notebook/.ipynb_checkpoints/
*.log

# =============================================================================
# Standard Python Environment
# =============================================================================
__pycache__/
*.py[codz]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# VS Code / IDEs
.vscode/
.idea/
.DS_Store

# Distribution / Packaging
build/
dist/
*.egg-info/
*.egg

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/
